body{

  background: BLACK;
  background-repeat:space;

}
 h1{
   font-family: objective;
 }
 h2
 {
   font-family: caviar dreams;
 }

 .bg{
   background: url("file:///E:/files/sdc%203-2/shalivahana/images/banner (2).jpg?time=1556270654960");
   background-size: cover;
   background-repeat: no-repeat;
   background-color: inherit;
   background-size: contain;

 }

 .topnav
 {
   padding-left: 10px;
   padding-top: 10px;
   padding-right: 10px;
   overflow: hidden;

 }
 .topnav h1{
  float: left;
  color: #f2f2f2;
  text-align: center;

  text-decoration: none;
  font-size: 20px;
  font-family: objective;

}
 .topnav-right {
   float: right;
  background-color: black;
     border-radius: 50px;
 }

 .topnav-right a {
  float: left;
  color: #f2f2f2;
  text-align: center;
padding: 14px 60px;
  text-decoration: none;
  font-size: 20px;
  font-family: objective;


}
.topnav-right a:hover{
  border-radius: 50px;
  transition: all linear 0.7s;
background: white;
  color: black;

}

.mid img{
 display: block;
  width: 35%;
  height: auto;
  margin-top: 100px;
border-radius: 75px;
margin-left: auto;
margin-right: auto;
}

.mid1 h2,.mid1 h1 {
  color: white;
  margin-top: 40px;
  text-align: center;


}

.icons img{

 float: left;
/*  width: 50px;*/

  display: block;
   width: 35px;
   height: auto;
   margin-top: 70px;
   filter: invert(1);
   margin: 45px 45px 45px 45px;



}
.icons img:hover{
  transform: scale(1.5);
  transition: all linear 0.3s;
}
.icons{
  margin-top:200px;
  margin-bottom: auto;
  float: left;
 margin-left:27%;
 margin-right: 25%;

  background: white;
  border-radius: 50px;


}
.footer {
  font-size: 55%;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   color: white;
}
